:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

:root {
  --background-color: #000000;
  --default-color: #000000;
  --heading-color: #ffffff;
  --accent-color: #ffffff;
  --surface-color: #716145;
  --contrast-color: #000000;
}

:root {
  --nav-color: rgba(255, 255, 255, 0.5);
  --nav-hover-color: #ffffff;
  --nav-mobile-background-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #212529;
  --nav-dropdown-hover-color: #559bcc;
}

.light-background {
  --background-color: #f1f3f8;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #000000;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #212529;
  --contrast-color: #000000;
}

:root {
  scroll-behavior: smooth;
}

.hamb-wrap {
  background-color: #fff;
  width: 100%;
  position: relative;
  height: 30px;
}
.hamb {
  z-index: 99999;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 3s ease;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(90deg);
}
.hamb span {
  background-color: #000;
  border-radius: 10px;
  padding: 1px 2px;
}
.hamb span:nth-child(2) {
  margin-left: 4px;
}

.hamb span:nth-child(3) {
  margin-left: 4px;
}
/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--heading-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* PHP Email Form Messages
------------------------------*/
.php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: var(--surface-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--surface-color);
  animation: php-email-form-loading 1s linear infinite;
}

@keyframes php-email-form-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: rgba(255, 255, 255, 0);
  --default-color: #ffffff;
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 50px 0 15px;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 32px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}

.scrolled .header {
  padding: 15px 0;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.9);
}

/* Global Header on Scroll
------------------------------*/
.scrolled .header {
  --background-color: rgba(40, 40, 40, 0.9);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Mobile */

.mobile-nav-toggle {
  color: var(--nav-color);
  font-size: 28px;
  line-height: 0;
  margin-right: 10px;
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

.navmenu {
  padding: 0;
  z-index: 9997;
}

.navmenu ul {
  display: none;
  list-style: none;
  position: absolute;
  inset: 60px 20px 20px 20px;
  padding: 10px 0;
  margin: 0;
  border-radius: 6px;
  background-color: var(--nav-mobile-background-color);
  overflow-y: auto;
  transition: 0.3s;
  z-index: 9998;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.navmenu a,
.navmenu a:focus {
  color: var(--nav-dropdown-color);
  padding: 10px 20px;
  font-family: var(--nav-font);
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.navmenu a i,
.navmenu a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
}

.navmenu a i:hover,
.navmenu a:focus i:hover {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus {
  color: var(--nav-dropdown-hover-color);
}

.navmenu .active i,
.navmenu .active:focus i {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  transform: rotate(180deg);
}

.navmenu .dropdown ul {
  position: static;
  display: none;
  z-index: 99;
  padding: 10px 0;
  margin: 10px 20px;
  background-color: var(--nav-dropdown-background-color);
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

.navmenu .dropdown ul ul {
  background-color: rgba(33, 37, 41, 0.1);
}

.navmenu .dropdown > .dropdown-active {
  display: block;
  background-color: rgba(33, 37, 41, 0.03);
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  position: absolute;
  font-size: 32px;
  top: 15px;
  right: 15px;
  margin-right: 0;
  z-index: 9999;
}

.mobile-nav-active .navmenu {
  position: fixed;
  overflow: hidden;
  inset: 0;
  background: rgba(33, 37, 41, 0.8);
  transition: 0.3s;
}

.mobile-nav-active .navmenu > ul {
  display: block;
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

.footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 30px 0;
}

.social-links {
  margin: 0 0 30px 0;
}

.social-links a {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  color: var(--contrast-color);
  line-height: 1;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
  text-decoration: none;
}

.footer .copyright {
  padding-top: 25px;
  border-top: 1px solid
    color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .credits {
  font-size: 13px;
  padding-top: 5px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 160px 0 80px 0;
  text-align: center;
  position: relative;
}

.page-title:before {
  content: "";
  background-color: color-mix(
    in srgb,
    var(--background-color),
    transparent 50%
  );
  position: absolute;
  inset: 0;
}

.page-title h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li + li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li + li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {
  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 15px;
}

.section-title-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-bottom: 60px;
  z-index: 999;
  width: 100%;
}

.section-title-right h2 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 15px;
  width: 70%;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  position: relative;
  padding: 120px 0 60px 0;
  display: flex;
  align-items: center;
  background: url(../img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
} */

.hero .container {
  position: relative;
  min-height: 100vh;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.hero p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin: 5px 0 10px 0;
  font-size: 20px;
  font-weight: 400;
}

.hero .download-btn {
  color: var(--contrast-default);
  background: color-mix(in srgb, var(--default-color), transparent 90%);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 15px;
  padding: 8px 30px 10px 30px;
  border-radius: 3px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .download-btn + .download-btn {
  margin-left: 20px;
}

.hero .download-btn:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.hero .download-btn i {
  font-size: 16px;
  line-height: 0;
  margin-right: 8px;
}

.hero .hero-img {
  display: flex;
  text-align: center;
  padding: 10px 0;
}

.hero .hero-items-2 {
  position: relative;
  top: 20px;
  width: 80%;
}

@media screen and (max-width: 992px) {
  .hero .hero-img {
    text-align: center;
    overflow: hidden;
    min-height: 600px;
  }

  .hero .hero-img .phone-1,
  .hero .hero-img .phone-2 {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .download-btn {
    font-size: 14px;
    padding: 8px 20px 10px 20px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {
  width: 100%;
  position: relative;
  padding: 120px 0 60px 0;
  display: flex;
  align-items: center;
  background: url(../img/about-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about .content h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 10px 20px;
  background: color-mix(in srgb, var(--accent-color), transparent 95%);
  color: var(--accent-color);
  border-radius: 7px;
  display: inline-block;
}

.about .content h2 {
  font-weight: 700;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .read-more {
  background: var(--accent-color);
  color: var(--contrast-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.about .content .read-more i {
  font-size: 18px;
  margin-left: 5px;
  line-height: 0;
  transition: 0.3s;
}

.about .content .read-more:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
  padding-right: 19px;
}

.about .content .read-more:hover i {
  margin-left: 10px;
}

.about .icon-box {
  background-color: var(--surface-color);
  padding: 50px 40px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
}

.about .icon-box i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 0;
  transition: all 0.4s ease-out 0s;
  background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
  color: var(--accent-color);
}

.about .icon-box h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.about .icon-box p {
  margin-bottom: 0;
}

.about .icon-box:hover i {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.about .icon-boxes .col-md-6:nth-child(2) .icon-box,
.about .icon-boxes .col-md-6:nth-child(4) .icon-box {
  margin-top: -40px;
}

@media (max-width: 768px) {
  .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: 0;
  }
}

/*--------------------------------------------------------------
# Featured Section
--------------------------------------------------------------*/
.featured .card {
  background-color: var(--surface-color);
  color: var(--default-color);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border: 0;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.featured .card:hover {
  transform: scale(1.1);
}

.featured .card:hover .btn {
  opacity: 1;
  transform: translateY(0);
}

.featured .card-title {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.featured .card-title .btn {
  background-color: var(--accent-color);
  border: var(--accent-color);
  color: #000000;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

.featured .card-title .btn:hover {
  background-color: #e0e0e0;
  color: #000000;
  font-weight: 700;
}

.featured .card .img {
  position: relative;
  padding: 20px 20px 0 20px;
}

.featured .card .img img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.featured .card h2 {
  font-weight: 500;
  font-size: 36px;
}

.featured .card h2 a {
  color: var(--heading-color);
}

.featured .card h2 a:hover {
  color: var(--accent-color);
}

.featured .card p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  padding: 0 30px 30px 30px;
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery {
  overflow: hidden;
}

.gallery .swiper-wrapper {
  height: auto;
}

.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  width: 12px;
  height: 12px;
  opacity: 1;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

.gallery .swiper-slide-active {
  text-align: center;
}

@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 60px 0;
  }

  .gallery .swiper-slide-active {
    background: var(--background-color);
    border: 6px solid var(--accent-color);
    padding: 4px;
    z-index: 1;
    transform: scale(1.1);
    border-radius: 25px;
    transition: none;
  }
}

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.teams .row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.teams .col-md-4 {
  display: flex;
  align-items: stretch;
}

.teams .team-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid color-mix(in srgb, var(--accent-color), transparent 85%);
  padding: 20px;
}

.teams .team-item .team-img {
  width: 150px;
  min-height: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--background-color);
  margin: 0 auto;
}

.teams .team-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.teams .team-item .quote-icon-left,
.teams .team-item .quote-icon-right {
  color: color-mix(in srgb, var(--accent-color), transparent 50%);
  font-size: 26px;
  line-height: 0;
}

.teams .team-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.teams .team-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.teams .team-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: var(--accent-color);
}

@media (min-width: 992px) {
  .teams .team-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing {
  padding: 60px 0 120px 0;
}

.pricing .section-title {
  margin-bottom: 40px;
}

.pricing .card {
  background-color: var(--surface-color);
  color: var(--default-color);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border: 0;
  height: 100%;
  position: relative;
  margin-bottom: 20px;
}

.pricing .card .img {
  position: relative;
  padding: 20px 20px 0 20px;
}

.pricing .card .img img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.pricing .card h2 {
  font-weight: 500;
  font-size: 30px;
  margin: 20px 0 20px 20px;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 18px;
  font-weight: 400;
}

.pricing .buy-btn {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  display: inline-block;
  padding: 8px 30px 10px 30px;
  border-radius: 50px;
  background-color: var(--accent-color);
  transition: none;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--heading-font);
  transition: 0.3s;
}

.pricing .buy-btn:hover {
  background-color: var(--default-color);
  color: var(--contrast-color);
}

.pricing .featured {
  z-index: 10;
  border: 3px solid var(--accent-color);
}

@media (min-width: 992px) {
  .pricing .featured {
    transform: scale(1.15);
  }
}

/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq .faq-container .faq-item {
  background-color: var(--surface-color);
  position: relative;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
  border-radius: 5px;
  overflow: hidden;
}

.faq .faq-container .faq-item:last-child {
  margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 30px 0 0;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.faq .faq-container .faq-item h3 .num {
  color: var(--accent-color);
  padding-right: 5px;
}

.faq .faq-container .faq-item h3:hover {
  color: var(--accent-color);
}

.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
  margin-bottom: 0;
  overflow: hidden;
}

.faq .faq-container .faq-item .faq-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  line-height: 0;
  transition: 0.3s;
  cursor: pointer;
}

.faq .faq-container .faq-item .faq-toggle:hover {
  color: var(--accent-color);
}

.faq .faq-container .faq-active {
  background-color: color-mix(in srgb, var(--accent-color), transparent 97%);
  border-color: color-mix(in srgb, var(--accent-color), transparent 80%);
}

.faq .faq-container .faq-active h3 {
  color: var(--accent-color);
}

.faq .faq-container .faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
  transform: rotate(90deg);
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item + .info-item {
  margin-top: 40px;
}

.contact .info-item i {
  color: var(--accent-color);
  background: color-mix(in srgb, var(--accent-color), transparent 92%);
  font-size: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.contact .php-email-form {
  height: 100%;
}

.contact .php-email-form input[type="text"],
.contact .php-email-form input[type="email"],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: color-mix(
    in srgb,
    var(--background-color),
    transparent 50%
  );
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type="text"]:focus,
.contact .php-email-form input[type="email"]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form input[type="text"]::placeholder,
.contact .php-email-form input[type="email"]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .php-email-form button[type="submit"] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 25%);
}

/* Case Study Showcase
================================================== */

.hero-wrapper {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}
.hero-wrapper .hero-title p {
}

.case-study-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 2;
}
.case-study-images li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  list-style: none;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.case-study-images li .img-hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  list-style: none;
  opacity: 0;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.case-study-images li.show .img-hero-background {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.case-study-images li .img-hero-background span img {
  width: 100%;
  height: auto;
  display: block;
  transform: scale(0.6, 1.7);
  transform-origin: center top;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.case-study-images li.show .img-hero-background span img {
  transform: scale(1);
}
.case-study-images li:nth-child(1) .img-hero-background span {
  position: absolute;
  width: 15%;
  top: 12%;
  left: 5%;
  display: block;
}
.case-study-images li:nth-child(1) .img-hero-background span:nth-child(2) {
  width: 18%;
  top: 22%;
  left: 80%;
}
.case-study-images li:nth-child(1) .img-hero-background span:nth-child(3) {
  width: 13%;
  top: 55%;
  left: 75%;
}
.case-study-images li:nth-child(1) .img-hero-background span:nth-child(4) {
  width: 11%;
  top: 44%;
  left: 15%;
}

.case-study-images li:nth-child(2) .img-hero-background span {
  position: absolute;
  width: 13%;
  top: 7%;
  left: 5%;
  display: block;
}
.case-study-images li:nth-child(2) .img-hero-background span:nth-child(2) {
  width: 18%;
  top: 55%;
  left: 80%;
}
.case-study-images li:nth-child(2) .img-hero-background span:nth-child(3) {
  width: 14%;
  top: 15%;
  left: 90%;
}
.case-study-images li:nth-child(2) .img-hero-background span:nth-child(4) {
  width: 15%;
  top: 54%;
  left: 15%;
}

.case-study-images li:nth-child(3) .img-hero-background span {
  position: absolute;
  width: 11%;
  top: 9%;
  left: 5%;
  display: block;
}
.case-study-images li:nth-child(3) .img-hero-background span:nth-child(2) {
  width: 11%;
  top: 55%;
  left: 80%;
}
.case-study-images li:nth-child(3) .img-hero-background span:nth-child(3) {
  width: 12%;
  top: 11%;
  left: 90%;
}
.case-study-images li:nth-child(3) .img-hero-background span:nth-child(4) {
  width: 9%;
  top: 54%;
  left: 15%;
}

.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: var(--accent-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  z-index: 0;
  padding: 20px 10px 20px 10px;
  background-color: var(--background-color);
}
.sidebar-content-wrap {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: visible;
  margin-top: 10px;
  height: 600px;
}

.hamb-wrap,
.hamb {
  visibility: hidden;
  display: none;
}

#sidebar .sidebar-header {
  text-align: center;
}

#sidebar .sidebar-header h2 {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-size: 24px;
}

#sidebar .sidebar-header .home-btn {
  color: var(--contrast-color);
  text-decoration: none;
  font-size: 18px;
  background: var(--accent-color);
  padding: 10px 50px;
  border-radius: 10px;
}

#sidebar .sidebar-header .home-btn:hover {
  color: var(--accent-color);
  background: var(--surface-color);
}

#sidebar .sidebar-menu {
  list-style: none;
  width: 232px;
  padding: 0;
  margin-top: 20px;
}

#sidebar .sidebar-menu li {
  margin-bottom: 15px;
  background: var(--surface-color);
  border-radius: 5px;
}

#sidebar .menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
}

#sidebar .menu-item:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
}

#sidebar .menu-item img {
  width: 100px;
  height: 70px;
  border-radius: 5px;
  margin-right: 10px;
}

#sidebar .menu-item span {
  font-size: 18px;
}

#content {
  width: 100%;
  background: var(--background-color);
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--contrast-color);
}

#content .content-body {
  margin-left: 10vw;
}

#content h1,
#content h2,
#content h3 {
  color: var(--contrast-color);
}

#content .content-header h2 {
  color: var(--contrast-color);
  font-size: 4rem;
}

/* #Media
================================================== */

@media screen and (max-width: 800px) {
  .col-md-4 h3,
  .col-sm-4 h3,
  .col-md-5 h3,
  .col-md-3 h3 {
    margin-top: 10px;
  }

  .content-body {
    margin-left: 0px !important;
  }
  #sidebar {
    visibility: hidden;
    position: absolute;
  }
  .hamb-wrap,
  .hamb {
    visibility: visible;
    display: block;
  }
  #sidebar.active-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    max-width: 70%;
    visibility: visible;
    display: block;
  }
  #sidebar .sidebar-menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #sidebar .sidebar-menu li {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  #sidebar .sidebar-menu li a {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    width: 100%;
  }

  #sidebar .sidebar-menu li a img {
    margin-right: 0px;
  }
}
@media (max-width: 991px) {
  .case-study-images li .hero-number-back {
    font-size: 26vw;
  }
}

@media (max-width: 767px) {
  .case-study-wrapper .case-study-name a {
    font-size: 26px;
    letter-spacing: 1px;
  }
  .case-study-images li .hero-number-back {
    font-size: 32vw;
  }
}

@media (max-width: 580px) {
  .case-study-images li:nth-child(1) .img-hero-background span,
  .case-study-images li:nth-child(2) .img-hero-background span,
  .case-study-images li:nth-child(3) .img-hero-background span,
  .case-study-images li:nth-child(4) .img-hero-background span {
    width: calc(100% - 40px);
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  .case-study-images li:nth-child(1) .img-hero-background span:nth-child(2),
  .case-study-images li:nth-child(1) .img-hero-background span:nth-child(3),
  .case-study-images li:nth-child(1) .img-hero-background span:nth-child(4),
  .case-study-images li:nth-child(2) .img-hero-background span:nth-child(2),
  .case-study-images li:nth-child(2) .img-hero-background span:nth-child(3),
  .case-study-images li:nth-child(2) .img-hero-background span:nth-child(4),
  .case-study-images li:nth-child(3) .img-hero-background span:nth-child(2),
  .case-study-images li:nth-child(3) .img-hero-background span:nth-child(3),
  .case-study-images li:nth-child(3) .img-hero-background span:nth-child(4),
  .case-study-images li:nth-child(4) .img-hero-background span:nth-child(2),
  .case-study-images li:nth-child(4) .img-hero-background span:nth-child(3),
  .case-study-images li:nth-child(4) .img-hero-background span:nth-child(4) {
    display: none;
  }
}
